@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", system-ui;
  background: #111;
  scroll-behavior: smooth;
  /* disable user select */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
